.list {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;

  li {
    font-size: 0.8rem;
    font-weight: 700;
    text-align: center;
    color: var(--black);
    background-color: var(--white);
    border-radius: 1rem;
    padding: 1rem 0;
    margin-bottom: 1rem;
  }
}