.main {
  margin: 3rem auto;

}

.h2 {
  padding: 0 2rem;
  text-align: center;
}

.terms {
  font-size: 1rem;
  color: var(--white);
  white-space: pre-line;
  text-align: justify;

  padding: 1rem 3rem;
}