.footer {
  width: 100%;
  padding: 1rem;
}

.facebook-terms {
  font-size: 0.6rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 0.6rem;
}

.use-terms {
  font-size: 0.6rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 0.6rem;
}

.copyright {
  font-size: 0.6rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 0.6rem;
}  